asgiref==3.12.1
cffi==2.1.1
cryptography==50.0.0
Django==5.2.17
pycparser==3.0
sqlparse==0.6.0
django-globus-portal-framework==0.4.15
globus-sdk==3.65.0
social-auth-app-django==5.9.0
packaging==26.2
msgpack>=1.2.1
setuptools>=83.0.0
