SOCIAL_AUTH_GLOBUS_KEY = 'insertkeyhere'
SOCIAL_AUTH_GLOBUS_SECRET = 'insertsecrethere'
DJANGO_SECRET_KEY = 'insertkeyhere'
DJANGO_SETTINGS_MODULE = 'globus_portal_framework.settings'
SEARCH_INDEXES_UUID_BBINDEX = 'insertglobussearchindexuuidhere'
DJANGO_ALLOWED_HOSTS=localhost
DEBUG=True
DJANGO_LOGLEVEL=info
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=dockerdjango
DATABASE_USERNAME=dbadmin
DATABASE_PASSWORD=insertdbpasswordhere
DATABASE_HOST=db
DATABASE_PORT=5432
